Source: patchelf
Section: utils
Priority: optional
Maintainer: Felipe Sateler <fsateler@debian.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://nixos.org/patchelf.html
Vcs-Git: https://salsa.debian.org/debian/patchelf.git
Vcs-Browser: https://salsa.debian.org/debian/patchelf

Package: patchelf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: modify properties of ELF executables
 PatchELF is a simple utility for modifying existing ELF executables and
 libraries.  In particular, it can do the following:
 .
  * Change the dynamic loader ("ELF interpreter") of executables
  * Change the RPATH of executables and libraries
  * Remove declared dependencies on dynamic libraries
    (DT_NEEDED entries)
